
.custom-checkbox{
    display: flex;
    align-items: center;
    .custom-control-label{
        cursor: pointer;
    }
    .custom-control-input{
        padding-top: 2px;
    }
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none!important;
}
.d-unset{
    display: unset!important;
}
.form-check .form-check-label {
    margin-left: 0.15rem;
    cursor: pointer;
    .input-helper{
        &:before,
        &:after{
            top:2px!important;
        }
    }
}